*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px 250px 50px;
}

/* Nav Stuff */
#navbar{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #e4dddd;
}
#nav-items{
    margin-left: 70px;
    display: flex;
    height: 27px;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
#brand-name{
    align-self: center;
    margin-bottom: 50px;
}


#right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 725px;
    margin-bottom: 50px;
}

#profile-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url(./pic.webp);
    background-size: cover;
    margin-left: 10px;
}

/* Main Stuff */

