body{
    background-color: black;
}
*{
    margin: 0;
}
#bigbox{
    height:900px;
    width:550px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: rgb(24,24,24);
}
#profile{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    border-radius: 50%;
}
img{
    border-radius: 50%;
}
#name{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family:sans-serif;
}
button{
    width:400px;
    height: 60px;
    margin: 18px ;
    margin-left: 65px;
    font-size: 20px;
    font-weight: 600;
    background-color:grey;
    border-radius: 10px;
    border: none;
    color: aliceblue;
}